DirectoryIndex index.php
RewriteEngine On



RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(.*)/$

RewriteRule ^(.*)$ %{REQUEST_URI}/ [R=301,L]

# Não envie arquivos e diretórios existentes para o index.php da raiz.
# Isso permite que /mapa/ carregue automaticamente /mapa/index.php.
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^([a-z0-9-]+)/$ index.php?opcao=$1 [NC,L,QSA]
RewriteRule ^([a-z0-9-]+)/([a-z0-9-]+)/$ index.php?opcao=$1&acao=$2 [NC,L,QSA]
RewriteRule ^([a-z0-9-]+)/([a-z0-9-]+)/([a-zA-Z=0-9-]+)/$ index.php?opcao=$1&acao=$2&valor=$3 [NC,L,QSA]
